{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "lf",
  "arrowParens": "always",
  "bracketSpacing": true,
  "semi": false,
  "useTabs": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}
